---
const { heading, text, image_path, reverse, blockIndex } = Astro.props;

const bind = blockIndex !== undefined ? `#page_blocks.${blockIndex}` : null;
---

<section
    class="py-12 px-6 max-w-4xl mx-auto grid md:grid-cols-2 gap-8 items-center"
>
    <div
        class={`w-[95%] mx-auto bg-cover bg-center bg-no-repeat p-7 rounded-2xl grid md:grid-cols-2 ${reverse ? "md:flex-row-reverse" : ""}`}
    >
        <div class="w-full md:w-1/2">
            {
                image_path && (
                    <img
                        src={image_path}
                        alt={heading || "Feature"}
                        class="w-full h-auto rounded-lg shadow-md"
                        data-cms-bind={bind ? `${bind}.image_path` : null}
                    />
                )
            }
        </div>

        <div class="max-w-xl mx-auto flex flex-col gap-y-8 py-16">
            {
                heading && (
                    <h2
                        class="text-lewrap-green-dark text-5xl/11 md:text-6xl/14 font-black tracking-tight"
                        data-cms-bind={bind ? `${bind}.heading` : null}
                    >
                        {heading}
                    </h2>
                )
            }

            {
                text && (
                    <div
                        class="prose text-2xl/8 text-lewrap-off-black [&_p]:mb-8"
                        set:html={text}
                        data-cms-bind={bind ? `${bind}.text` : null}
                    />
                )
            }
        </div>
    </div>
</section>
