---
const { heading, text, image_path, reverse = false, blockIndex } = Astro.props;
---

<section
    class="w-[95%] mx-auto grid md:grid-cols-2 gap-8 items-center"
    data-cms-bind={`#page_blocks[${blockIndex}]`}
>
    <div class={`flex flex-col gap-y-8 p-7 ${reverse ? "md:order-2" : ""}`}>
        {
            heading && (
                <h2
                    class="text-lewrap-green-dark text-5xl/11 md:text-6xl/14 font-black tracking-tight"
                    data-cms-bind={`#page_blocks[${blockIndex}].heading`}
                >
                    {heading}
                </h2>
            )
        }

        {/* Copy */}
        <div
            class="prose text-2xl/8 text-lewrap-off-black [&_p]:mb-8"
            data-cms-bind={`#page_blocks[${blockIndex}].text`}
        >
            <div set:html={text} />
        </div>
    </div>

    {
        image_path && (
            <div class={reverse ? "md:order-1" : ""}>
                <img
                    src={image_path}
                    alt={heading || "Feature Image"}
                    class="w-full aspect-square object-cover rounded-xl"
                    data-cms-bind={`#page_blocks[${blockIndex}].image_path`}
                />
            </div>
        )
    }
</section>
