---
const { heading, text, image_path, reverse = false } = Astro.props;
---

<section
    class="py-12 px-6 max-w-4xl mx-auto grid md:grid-cols-2 gap-8 items-center"
>
    <div class={reverse ? "md:order-2" : ""}>
        <h2
            class="text-lewrap-green-dark text-5xl/11 md:text-6xl/14 font-black tracking-tight"
        >
            {heading}
        </h2>
        <!-- <div class="prose">
            <div set:html={text} />
        </div> -->
        <div class="prose prose-p:text-2xl/8 prose:text-lewrap-off-black">
            <div set:html={text} />
        </div>
    </div>

    {
        image_path && (
            <div class={reverse ? "md:order-1" : ""}>
                <img
                    src={image_path}
                    alt={heading}
                    class="rounded-lg shadow-lg w-full"
                />
            </div>
        )
    }
</section>
