---
import Button from "../components/atoms/Button.astro";

const {
    heading,
    text,
    image_path,
    reverse = false,
    blockIndex,
    background_type = "none",
    background_colour,
    background_image,
    button_text,
    button_link,
    button_variant = "primary",
} = Astro.props;

// Determine inline style for backgrounds
let backgroundStyle = "";
if (background_type === "color" && background_colour) {
    backgroundStyle = `background-color: ${background_colour};`;
} else if (background_type === "image" && background_image) {
    backgroundStyle = `background-image: url('${background_image}'); background-repeat: repeat;`;
}
---

<section
    class="w-[95%] md:max-w-[85%] mx-auto grid md:grid-cols-2 gap-8 p-7 md:p-21 items-center rounded-xl"
    style={backgroundStyle}
    data-cms-bind={`page_blocks[${blockIndex}]`}
>
    <div
        class={`flex flex-col gap-y-8 p-7 md:p-0 ${reverse ? "md:order-2" : ""}`}
    >
        {
            heading && (
                <h2 class="text-lewrap-green-dark text-5xl/11 md:text-6xl/14 font-black tracking-tight">
                    <span data-cms-edit={`page_blocks.${blockIndex}.heading`}>
                        {heading}
                    </span>
                </h2>
            )
        }

        {/* Copy */}
        <div
            class="prose text-2xl/8 text-lewrap-off-black [&_p]:mb-8 [&_p:last-child]:mb-0"
            data-cms-edit={`page_blocks.${blockIndex}.text`}
            set:html={text}
        />

        {/* Button */}
        {
            button_text && button_link && (
                <div>
                    <Button href={button_link} variant={button_variant}>
                        {button_text}
                    </Button>
                </div>
            )
        }
    </div>

    {
        image_path && (
            <div class={reverse ? "md:order-1" : ""}>
                <img
                    src={image_path}
                    alt={heading || "Feature Image"}
                    class="w-full aspect-square object-cover rounded-xl"
                    data-cms-edit={`page_blocks.${blockIndex}.image_path`}
                />
            </div>
        )
    }
</section>
