---
import { Image } from "astro:assets";
import leWrapApp from "../../assets/lewrap-app.webp";
import AppApple from "../../assets/download-applestore.png";
import AppGoogle from "../../assets/download-googleplay.png";

const pathname = Astro.url.pathname.replace(/\/$/, "") || "/";
const isHomepage = pathname === "/";

const appBannerClass = isHomepage
    ? "w-[95%] mx-auto bg-lewrap-green rounded-lg border-b-0"
    : "bg-lewrap-green-dark bg-gradient-to-b from-lewrap-off-black/0 to-lewrap-off-black/50 border-b-4 p-8 pb-0 text-center md:text-left"; // Default

const appBannerTextClass = isHomepage
    ? "text-lewrap-off-black"
    : "text-lewrap-green"; // Default
---

<section
    class={`${appBannerClass} bg-gradient-to-b from-lewrap-off-black/0 to-lewrap-off-black/50 p-8 pb-0 text-center md:text-left`}
>
    <div
        class="max-w-screen-lg mx-auto grid md:grid-cols-[1fr_4fr] gap-8 md:gap-5 items-center"
    >
        <Image
            src={leWrapApp}
            alt="LeWrap"
            class="mx-auto md:mx-0 w-[150px] h-[174px] md:w-[193px] md:h-[224px] order-last md:order-first"
        />

        <div class="flex flex-col gap-y-4">
            <h3
                class="text-white text-5xl md:text-6xl font-helvetica-condensed font-black"
            >
                <span class={appBannerTextClass}> Order now on the </span>{" "}
                LeWrap App
            </h3>

            <div class="grid md:grid-cols-2 items-center gap-y-8 md:gap-14">
                <p class="text-white text-lg font-bold">
                    Get personalised deals and loyalty rewards, order ahead and
                    skip the queue!
                </p>

                <div class="flex flex-col md:flex-row gap-y-4 md:gap-x-8">
                    <Image
                        src={AppApple}
                        alt="Download on the Apple App Store"
                        class="mx-auto md:mx-0 w-[165px] h-[55px]"
                    />

                    <Image
                        src={AppGoogle}
                        alt="Download on the Google Play Store"
                        class="mx-auto md:mx-0 w-[165px] h-[55px]"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
