---
import BaseLayout from "../layouts/BaseLayout.astro";

// Page Builder components
import Hero from "../components/Hero.astro";

const { frontmatter } = Astro.props;
const {
    title,
    hero_title,
    hero_subtitle,
    hero_bg_type,
    hero_bg_colour,
    hero_bg_image,
    hero_bg_image_mobile,
    hero_button_text,
    hero_button_link,
    hero_button_variant,
} = frontmatter || {};
---

<BaseLayout title={title}>
    <main
        class="max-w-screen-2xl w-full mx-auto text-lewrap-off-black flex flex-col gap-10 relative"
    >
        {
            hero_title && (
                <Hero
                    title={hero_title}
                    show_food_cat_links={true}
                    subtitle={hero_subtitle}
                    hero_bg_type={hero_bg_type}
                    hero_bg_colour={hero_bg_colour}
                    hero_bg_image={hero_bg_image}
                    hero_bg_image_mobile={hero_bg_image_mobile}
                    hero_button_text={hero_button_text}
                    hero_button_link={hero_button_link}
                    hero_button_variant={hero_button_variant}
                />
            )
        }

        {/* ALL FOOD CATEGORY BLOCKS GOING IN HERE */}

        <h2>I SHOULD ONLY SHOW ON THE OUR FOOD PAGE BRA :)</h2>
    </main>
</BaseLayout>
