---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Feature from "../components/Feature.astro";

const { frontmatter } = Astro.props;
const {
    title,
    hero_title,
    hero_subtitle,
    hero_bg,
    page_blocks = [],
} = frontmatter || {};
---

<BaseLayout title={title}>
    <main
        class="max-w-screen-2xl w-full mx-auto text-lewrap-off-black flex flex-col gap-10"
    >
        {/* FIXED HERO */}
        {
            hero_title && (
                <div data-cms-bind="#hero_title">
                    <Hero
                        title={hero_title}
                        subtitle={hero_subtitle}
                        bg_color={hero_bg}
                    />
                </div>
            )
        }

        {/* DYNAMIC BLOCKS */}
        <div class="flex flex-col gap-10">
            {
                page_blocks?.map((block: any, index: number) => {
                    if (block._template === "feature") {
                        return <Feature {...block} blockIndex={index} />;
                    }
                    return null;
                })
            }
        </div>
    </main>
</BaseLayout>
